*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
li{
    color: gray;
    cursor: pointer;
    text-align: center;
    display: inline;
}
li:hover{
    color: white;
}
ul{
    margin-left: 45%;
    margin-top: 20px;
}
.box{
    border: 2px solid black;
    display: inline-block;
    width: 220px;
    margin: 15px;
}
.products{
    margin-top: 50px;
    text-align: center;
}
.para{
    margin-top: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    width:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    color:white;
    background-color: red;
}
form{
    margin-left: 45%;
    margin-top: 30px;
}
.send{
    width: 25%;
    margin-left: 40%;
    padding: 10px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.send :hover{
    background-color: red;
}
.contactus{
    background-color: black;
    color: white;
    margin-top: 50px;
}
.footer-h1{
    margin-top: 20px;
}
